.breadcrumbsWrapper {
  display: flex;
  height: 48px;
  border-bottom: 1px solid var(--foregroundBorder);
  width: 100%;
  align-items: center;
  justify-content: center;
}
.breadcrumbsContainer {
  max-width: var(--max-width);
  width: 100%;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  color: var(--foreground);
  font-size: 15px;
  line-height: 20px;
}
@media screen and (min-width: 500px) {
  .breadcrumbsContainer {
    padding: 0px 48px;
  }
}
.activeLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 44px;
  font-weight: 600;
}
.activeLink div {
  padding: 0px 5px;
  margin: 0px -5px;
  height: 32px;
  border-radius: 12.8px;
  background-color: rgb(7, 8, 8, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 1;
}
.activeLink:hover div {
  opacity: 0.6;
}
.inactiveLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 44px;
  font-weight: 500;
  opacity: 0.6;
}
