:root {
  --max-width: 1376px;
  --background: #ffffff;
  --foreground: #070808;
  --foregroundBorder: #e6e6e6;
}

* {
  box-sizing: border-box;
  letter-spacing: -0.02rem;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden !important;
  background-color: var(--foreground);
}

body {
  color: var(--primary);
  background: var(--foreground);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100vw;
}

main {
  width: 100%;
  max-width: 100vw;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 101;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.hidden {
  opacity: 0;
  height: 0px;
  width: 0px;
  pointer-events: none;
}

.mobile {
  display: flex;
}
.desktop {
  display: none;
}
@media screen and (min-width: 550px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
    min-width: 0px;
  }
}

.notFoundWrapper {
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 8px;
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  padding: 96px 48px;
}
.notFoundWrapper * {
  text-align: center;
}

.button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  border-radius: 14.52px;
  height: 44px;
  text-align: center;
  white-space: nowrap;
  padding: 0px 12px;
  max-width: fit-content;
}
.buttonSecondaryDark {
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(20px);
  color: white;
}
.buttonPrimaryDark {
  background-color: white;
}
.textButtonDark {
  color: white;
}
.buttonSecondaryDarkSmall {
  background-color: transparent;
  backdrop-filter: none;
  color: white;
  padding: 0px;
}
.buttonSecondaryDarkSmall > div {
  padding: 0px 18.37px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(20px);
  color: white;
  transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.buttonPrimaryDarkSmall {
  background-color: transparent;
  backdrop-filter: none;
  color: var(--foreground);
  padding: 0px;
}
.buttonPrimaryDarkSmall > div {
  padding: 0px 18.37px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  backdrop-filter: blur(20px);
  color: var(--foreground);
  transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
@media screen and (min-width: 550px) {
  .buttonSecondaryDarkSmall > div {
    height: 40px;
  }
  .buttonSecondaryDarkSmall:hover > div {
    background-color: rgba(255, 255, 255, 0.18);
    transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
    text-shadow: rgba(255, 255, 255, 0.25) 1px 0px 14px;
    height: 40px;
  }
  .buttonPrimaryDarkSmall > div {
    height: 40px;
  }
  .buttonPrimaryDarkSmall:hover > div {
    background-color: rgba(255, 255, 255, 0.92);
    transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
    text-shadow: rgba(255, 255, 255, 1) 1px 0px 14px;
    height: 40px;
  }
}

/* font styles */
.location {
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  letter-spacing: -0.02rem;
  opacity: 0.6;
}
.title {
  font-size: 34px;
  line-height: 120%;
  font-weight: 600;
  letter-spacing: -0.02rem;
}
.subtitle {
  font-size: 20px;
  line-height: 135%;
  font-weight: 400;
  letter-spacing: -0.02rem;
}
.intro {
  font-size: 16px;
  line-height: 133%;
  font-weight: 500;
  letter-spacing: -0.02rem;
  opacity: 0.6;
}
.label {
  font-size: 22px;
  line-height: 120%;
  font-weight: 600;
  letter-spacing: -0.02rem;
}
.description {
  font-size: 15px;
  line-height: 145%;
  font-weight: 400;
  letter-spacing: -0.02rem;
}
.callout {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: -0.02rem;
}
.active {
  font-size: 16px;
  line-height: 133%;
  font-weight: 600;
  letter-spacing: -0.02rem;
}
.inactive {
  font-size: 16px;
  line-height: 133%;
  font-weight: 500;
  letter-spacing: -0.02rem;
}
.body {
  font-size: 17px;
  line-height: 145%;
  font-weight: 400;
  letter-spacing: -0.02rem;
}
.fieldLabel {
  font-size: 14px;
  line-height: 115%;
  font-weight: 400;
  letter-spacing: -0.02rem;
}
.header {
  font-size: 28px;
  line-height: 120%;
  font-weight: 600;
  letter-spacing: -0.02rem;
}
@media screen and (min-width: 550px) {
  /* .location {
    font-size: 22px;
    line-height: 120%;
    font-weight: 500;
    letter-spacing: -0.02rem;
    opacity: 0.6;
  } */
  .title {
    font-size: 40px;
    line-height: 120%;
    font-weight: 600;
    letter-spacing: -0.02rem;
  }
  /* .subtitle {
    font-size: 25px;
    line-height: 135%;
    font-weight: 400;
    letter-spacing: -0.02rem;
  } */
  .header {
    font-size: 32px;
    line-height: 120%;
    font-weight: 600;
    letter-spacing: -0.02rem;
  }
}
@media screen and (min-width: 1000px) {
  /* .location {
    font-size: 24px;
    line-height: 120%;
    font-weight: 500;
    letter-spacing: -0.02rem;
    opacity: 0.6;
  } */
  .title {
    font-size: 48px;
    line-height: 120%;
    font-weight: 600;
    letter-spacing: -0.02rem;
  }
  .subtitle {
    font-size: 22px;
    line-height: 135%;
    font-weight: 400;
    letter-spacing: -0.02rem;
  }
  .header {
    font-size: 36px;
    line-height: 120%;
    font-weight: 600;
    letter-spacing: -0.02rem;
  }
}

#__next {
  width: 100%;
  background-color: var(--background);
}

.headerblock {
  height: 47.5px;
  z-index: 1000;
  position: relative;
}
.headerblockBreadcrumbs {
  height: 92px;
  z-index: 1000;
  position: relative;
}
.headerbar {
  height: 48px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  transform: translateY(0px);
  transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.headerbar.activefalse {
  transform: translateY(-48px);
}
.headerbar.defaulttrue,
.headerbar.activetrue {
  transform: translateY(0);
}
.headerbar:has(.breadcrumbsCheck) {
  height: 92px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  transform: translateY(0px);
  transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.headerbar.activefalse:has(.breadcrumbsCheck) {
  transform: translateY(-92px);
}
.headerbar.defaulttrue:has(.breadcrumbsCheck),
.headerbar.activetrue:has(.breadcrumbsCheck) {
  transform: translateY(0);
}
@media screen and (min-width: 550px) {
  .headerblock {
    height: 58px;
    z-index: 1000;
    position: relative;
  }
  .headerblockBreadcrumbs {
    height: 106px;
    z-index: 1000;
    position: relative;
  }
  .headerbar {
    height: 58px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    transform: translateY(0px);
    transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .headerbar.activefalse {
    transform: translateY(-58px);
  }
  .headerbar.defaulttrue,
  .headerbar.activetrue {
    transform: translateY(0);
  }
  .headerbar:has(.breadcrumbsCheck) {
    height: 106px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    transform: translateY(0px);
    transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .headerbar.activefalse:has(.breadcrumbsCheck) {
    transform: translateY(-106px);
  }
  .headerbar.defaulttrue:has(.breadcrumbsCheck),
  .headerbar.activetrue:has(.breadcrumbsCheck) {
    transform: translateY(0);
  }
}

.buttonPrimaryForeground {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 13px 22px;
  background-color: var(--background);
  border-radius: 19.2px;
  width: fit-content;
  color: var(--foreground);
  gap: 11px;
  font-weight: 600;
}
.buttonSecondaryForeground {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 13px 22px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  border-radius: 19.2px;
  width: fit-content;
  color: var(--background);
  gap: 11px;
  font-weight: 600;
}
.buttonFullWidth {
  width: 100%;
}
