.container {
  padding: 40px 16px 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.label {
  font-size: 20px;
  opacity: 0.6;
  color: #070808;
  line-height: 25px;
  font-weight: 500;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.title {
  font-size: 34px;
  color: #070808;
  line-height: 41px;
  font-weight: 600;
  max-width: 960px;
}
.subtitle {
  font-size: 22px;
  color: #070808;
  line-height: 28px;
  font-weight: 400;
  max-width: 960px;
}
