.wrapper {
  width: 100%;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2000;
  position: relative;
}
.fullMenuTop {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 32px;
}
.fullMenuHeader {
  width: 100%;
  height: 96px;
  color: var(--background);
  padding: 2px 0px 2px 0px;
  gap: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fullMenuClose {
  color: var(--background);
  letter-spacing: -0.01em;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 133.333% */
  white-space: nowrap;
  display: flex;
}
.fullMenuItem {
  display: flex;
  flex-direction: column;
  color: var(--background);
  font-size: 17px;
  font-style: normal;
  line-height: 130%; /* 133.333% */
  white-space: nowrap;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fullMenuItemDescription {
  margin-top: 2px;
}
.titleWrapper {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  aspect-ratio: 127.07 / 28;
  /* margin-left: -3px; */
  position: relative;
  overflow: hidden;
}

.topWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--foreground);
  width: 100%;
}

.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2px 16px;
  max-width: var(--max-width);
}
.menuOpen {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: -5.5px;
  position: relative;
  overflow: hidden;
  opacity: 1;
}

.menuOpen:hover {
  cursor: pointer;
}
.menuText {
  color: var(--primary);
  letter-spacing: -0.01em;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 133.333% */
  white-space: nowrap;
  display: flex;
}
.menuDesktop {
  display: none;
}
.menuButton {
  height: 44px;
  width: fit-content;
  gap: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.cta {
  display: none;
}
.mobileButtonsWrapper {
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 1);
  z-index: 1000;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 16px 4px;
  gap: 8px;
  margin-top: -8px;
}
.desktopMenuLinks {
  display: none;
}
.desktopButtonLinks {
  display: none;
}
@media screen and (min-width: 550px) {
  .fullMenuWrapperOpen,
  .fullMenuWrapperClosed {
    padding-left: 40px;
    padding-right: 40px;
  }

  .fullMenuItem {
    transition: 200ms ease-in all;
    opacity: 1;
  }
  .fullMenuItem:hover {
    transition: 200ms ease-out all;
    opacity: 0.75;
  }
  .topContainer {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .titleWrapper {
    height: 26px;
  }
}
@media screen and (min-width: 740px) {
  .container {
    height: 48px;
    max-width: var(--max-width);
  }
  .fullMenuClosed {
    display: none;
  }
  .wrapper {
    width: 100%;
    gap: 32px;
  }
  .menuOpen {
    display: none;
  }
  .menuDesktop {
    display: flex;
    flex-direction: row;
    gap: 28px;
    flex: 1;
    justify-content: flex-start;
  }
  .cta {
    border: 1px solid var(--primary);
    border-radius: 1000px;
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    border: 2px solid var(--primary);
    background: var(--background);
    box-shadow: 0px 1px 0px 0px var(--primary);
    font-size: 16px;
    font-style: italic;
    font-weight: 800;
    line-height: 130%;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    transition: 100ms ease-in all;
    flex-wrap: nowrap;
  }
  .cta:hover {
    color: var(--background);
    background: var(--primary);
    transition: 100ms ease-out all;
  }
  .fullMenu {
    display: none;
  }
  .linkWrapperLink:hover,
  .policyWrapperLink:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
    cursor: pointer;
  }
  .desktopMenuLinks {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    flex: 1;
    padding: 0px 0px;
  }

  .titleDesktopWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 44px;
  }
  .mobileButtonsWrapper {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  .desktopButtonLinks {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    align-items: center;
  }
  .desktopMenuLinks {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    flex: 1;
    padding: 0px 24px 0px 32px;
  }
}

.breadcrumbsWrapper {
  display: flex;
  height: 44px;
  border-bottom: 1px solid var(--foregroundBorder);
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  z-index: 1000;
}
@media screen and (min-width: 550px) {
  .breadcrumbsWrapper {
    display: flex;
    height: 48px;
    border-bottom: 1px solid var(--foregroundBorder);
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(6px);
    z-index: 1000;
  }
}
.breadcrumbsContainer {
  max-width: var(--max-width);
  width: 100%;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  color: var(--foreground);
  font-size: 15px;
  line-height: 20px;
}
@media screen and (min-width: 550px) {
  .breadcrumbsContainer {
    padding: 0px 48px;
  }
}

.activeLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 44px;
  font-weight: 600;
}
.activeLink div {
  padding: 0px 5px;
  margin: 0px -5px;
  height: 32px;
  border-radius: 12.8px;
  background-color: rgb(7, 8, 8, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 1;
}
.activeLink:hover div {
  opacity: 0.6;
}
.inactiveLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 44px;
  font-weight: 500;
  opacity: 0.6;
  pointer-events: none;
}

.dropdownWrapper {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  right: -32px;
  left: auto;
  background-color: transparent;
  z-index: 10000;
  padding-top: 6px;
  transform: translateY(8px);
  transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
  width: fit-content;
}
@media screen and (min-width: 1080px) {
  .dropdownWrapper {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: -24px;
    right: auto;
    background-color: transparent;
    z-index: 10000;
    padding-top: 6px;
    transform: translateY(8px);
    transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
    width: fit-content;
  }
}
.dropdownWrapperOpen {
  opacity: 1;
  pointer-events: all;
  position: absolute;
  transform: translateY(0px);
  transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
  /* box-shadow: 2px 20px 20px .4px rgba(7, 8, 8, 0.2); */
}
.dropdownContainer {
  background-color: var(--background);
  width: 100%;
  height: fit-content;
  padding: 24px;
  /* border: 1px solid rgba(7, 8, 8, 0.1); */
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  box-shadow:
    rgba(7, 8, 8, 0.05) 0px 6px 24px 0px,
    rgba(7, 8, 8, 0.1) 0px 0px 0px 1px;
  height: fit-content;
}
.dropdownMainLinkTitle {
  font-size: 20px;
}
.horizontalDivider {
  background-color: #e7e7e7;
  height: 1.5px;
  width: 100%;
  margin: 17px 0px;
}
.verticalDivider {
  background-color: #e7e7e7;
  min-width: 1.5px;
  height: 112px;
}
.linkHoverEffect {
  height: 32px;
}
.linkHoverEffectMain {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-start;
  padding: 17px 0px;
  justify-content: flex-start;
  min-width: 240px;
}
.linkHoverEffect:has(.dropdownTitleDiv) {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (min-width: 550px) {
  .linkHoverEffect {
    opacity: 1;
    transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .linkHoverEffect:hover {
    opacity: 0.6;
    transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .linkHoverEffectMain:hover {
    opacity: 0.6;
    transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
  }
}
.linkHoverEffectMain .dropdownTitleDiv {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}
.dropdownTitleDiv {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
@media screen and (min-width: 550px) {
  .linkHoverEffectMain:hover .dropdownTitleDiv img {
    transform: translateX(25%) scaleX(125%);
    transition: all 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
  }
}
.dropdownMiniMenu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 8px 0px 4px;
  justify-content: center;
}
.linkHoverEffectMain .dropdownTitleDiv {
  font-size: 20px;
}
.mobileMenuWrapper {
  position: fixed;
  pointer-events: none;
  opacity: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(7, 8, 8, 1);
  top: 0;
  left: 0;
  z-index: 10000;
  transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
}
.mobileMenuWrapperOpen {
  position: fixed;
  pointer-events: all;
  opacity: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(7, 8, 8, 1);
  top: 0;
  left: 0;
  transition: opacity 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.ctaButtonsWrapper {
  z-index: 1;
  width: 100%;
  display: flex;

  flex-direction: column;
  gap: 10px;
  margin-top: 8px;
}
@media screen and (min-width: 550px) {
  .ctaButtonsWrapper {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 10px;
  }
}
.policyLinkRow {
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  justify-content: flex-start;
  margin-top: 48px;
  margin-bottom: 8px;
}
.policyLinkWrapper {
  margin-top: 48px;
  margin-bottom: 8px;
}
.policyDivider {
  width: 1.5px;
  height: 20px;
  background: white;
}
