.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 0px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  background-color: var(--background);
}
.logoWrapper {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 96px 16px;
}
.logoContainer {
  max-width: 640px;
  width: 100%;
  position: relative;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: var(--foregroundBorder);
}
@media screen and (min-width: 550px) {
  .logoWrapper {
    padding: 144px 48px;
  }
}
.detailsWrapper {
  display: flex;

  width: 100%;
  max-width: var(--max-width);
  align-items: center;
  justify-content: center;
  padding: 0px 0px;
}
.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid var(--foregroundBorder);
  border-bottom: 1px solid var(--foregroundBorder);
}
.details {
  opacity: 0.6;
  padding: 16px 16px;
}
@media screen and (min-width: 550px) {
  .detailsWrapper {
    padding: 0px 48px;
  }
  .detailsContainer {
    flex-direction: row;
  }
  .details {
    opacity: 0.6;
    padding: 16px 0px;
  }
}
.contentWrapper {
  display: flex;
  flex-direction: column;
  padding: 48px 0px 96px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}
.contentContainer {
  padding: 0px 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 96px;
}
@media screen and (min-width: 550px) {
  .contentWrapper {
    padding: 80px 0px 96px;
  }
  .contentContainer {
    padding: 0px 48px;
    max-width: 960px;
  }
}
.contentImageWrapper {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  width: 100%;
  aspect-ratio: 3/2;
}
.solutionsWrapper {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.solutionsArrayWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.solutionsArraysWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 17px;
  max-width: 640px;
}
.solutionsButton {
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: flex-start;
  min-width: 44px;
}
.contentCopy {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.quoteWrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;
  text-align: center;
  align-items: center;
}
.quote {
  opacity: 1;
  text-align: left;
  margin-bottom: 17px;
  width: 100%;
}
.quoteAuthor {
  font-weight: 500;
  text-align: left;
  margin-bottom: 3px;
  width: 100%;
}
.quoteAuthorTitle {
  opacity: 0.6;
  text-align: left;
  width: 100%;
}
@media screen and (min-width: 550px) {
  .solutionsArraysWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 96px;
    row-gap: 64px;
  }
  .quote {
    opacity: 1;
    width: 66.67%;
    text-align: center;
  }
  .quoteAuthor {
    font-weight: 500;
    width: 66.67%;
    text-align: center;
  }
  .quoteAuthorTitle {
    opacity: 0.6;
    width: 66.67%;
    text-align: center;
  }
}
