.carouselWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.carouselContainer {
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  gap: 48px;
  width: fit-content;
}

.clientLinkContainer {
  width: 33vw;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
  flex-direction: column;
  gap: 17px;
}
.clientLinkImage {
  width: 100%;
  aspect-ratio: 3/2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
}
@media screen and (min-width: 550px) {
  .clientLinkImage {
    aspect-ratio: 3/2;
  }
}
.clientInformation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  color: var(--foreground);
}

.clientAction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 13px 22px;
  background-color: var(--foreground);
  border-radius: 19.2px;
  width: fit-content;
  color: var(--background);
  gap: 11px;
  font-weight: 600;
  margin-top: 8px;
}
